In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances, sigmoid_kernel
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.cluster import KMeans

<p>Pada proses modelling, saya memakai pendekatan clustering untuk mengelompokkan data ke dalam beberapa kelompok kecil.<p>

In [120]:
items = pd.read_csv('items_final.csv')

In [121]:
items

,Unnamed: 0,itemID,title,author,publisher,language,general_topic,sub_topic
0,0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,english,children,childrenfiction
1,1,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,german,arts,artstreatment
2,2,19194,Red Queen 1,Victoria Aveyard,Orion Publishing Group,english,children,childrenfiction
3,3,40250,Meine Kindergarten-Freunde (Pirat),otherauthor,Ars Edition GmbH,german,children,childrenpicture
4,4,46107,Mein großes Schablonen-Buch - Wilde Tiere,Elizabeth Golding,Edition Michael Fischer,german,lifestyle,lifestyledecoration
...,...,...,...,...,...,...,...,...
77552,77820,37678,Timeless Fairy Tales,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",MEDIAMORPHOSIS,english,children,childrenfiction
77553,77821,68688,Demon Games,A. Witt Timothy a. Witt,iUniverse,german,fiction,fictionfantasy
77554,77822,57291,Lori and the Lion's Den,A. M. Glass,Xlibris,english,children,childrenfiction
77555,77823,78130,The Everywhere Armchair,Ersila Bee,ELOQUENT BOOKS,english,children,childrenfiction
77556,77824,68789,The Light Voyager,Orlando Mardi Orlando,Trafford Publishing,english,fiction,fictionscience

<p>Pada tahap ini saya menentukan kalau saya akan membuat model sistem rekomendasi buku menggunakan pendekatan clustering dan berdasarkan kemiripan deskripsi bukunya seperti author, language, general_topic, dan sub_topic. Oleh karena itu saya tidak membutuhkan kolom title dan publisher.<p>

In [122]:
items.drop(['Unnamed: 0'], axis = 1, inplace=True)
items.drop(['title'], axis = 1, inplace=True)
items.drop(['publisher'], axis = 1, inplace=True)

<p>Tahap selanjutnya saya akan menggabungkan kolom author, language, general_topic, dan sub_topic menjadi satu kolom baru.<p>

In [123]:
def combine_column(data):
    column = []
    for i in range(0, data.shape[0]):
        column.append( data['author'][i] + ' ' + data['language'][i] + ' ' + data['general_topic'][i] + ' ' + data['sub_topic'][i] )
    
    return column

In [124]:
items['combined_columns'] = combine_column(items)

In [125]:
items

,itemID,author,language,general_topic,sub_topic,combined_columns
0,21310,Janey Louise Jones,english,children,childrenfiction,Janey Louise Jones english children childrenfi...
1,73018,Wiebke Krabbe,german,arts,artstreatment,Wiebke Krabbe german arts artstreatment
2,19194,Victoria Aveyard,english,children,childrenfiction,Victoria Aveyard english children childrenfiction
3,40250,otherauthor,german,children,childrenpicture,otherauthor german children childrenpicture
4,46107,Elizabeth Golding,german,lifestyle,lifestyledecoration,Elizabeth Golding german lifestyle lifestylede...
...,...,...,...,...,...,...
77552,37678,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",english,children,childrenfiction,"Brothers Grimm, Marie-Catherine Baroness D'Aul..."
77553,68688,A. Witt Timothy a. Witt,german,fiction,fictionfantasy,A. Witt Timothy a. Witt german fiction fiction...
77554,57291,A. M. Glass,english,children,childrenfiction,A. M. Glass english children childrenfiction
77555,78130,Ersila Bee,english,children,childrenfiction,Ersila Bee english children childrenfiction
77556,68789,Orlando Mardi Orlando,english,fiction,fictionscience,Orlando Mardi Orlando english fiction fictions...

<p>Agar mesin dapat membaca natural language pada data yang ada di kolom baru, data perlu dikonversi menggunakan vectorizer agar dapat dilakukan proses clustering.<p>

In [126]:
data = items['combined_columns'].values.astype('U')

In [127]:
vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(data)

<p> Pada tahap ini saya memakai jumlah cluster sebanyak 20. Sebenarnya semakin banyak jumlah cluster maka akan lebih mudah mencari kemiripan antar buku. Namun karena keterbatasan hardware, saya hanya akan menggunakan 20 cluster<p>

In [128]:
k = 20
model = KMeans(n_clusters=k)
model.fit(tfidf)

KMeans(n_clusters=20)

In [129]:
items['cluster'] = model.labels_
items.head()

,itemID,author,language,general_topic,sub_topic,combined_columns,cluster
0,21310,Janey Louise Jones,english,children,childrenfiction,Janey Louise Jones english children childrenfi...,14
1,73018,Wiebke Krabbe,german,arts,artstreatment,Wiebke Krabbe german arts artstreatment,14
2,19194,Victoria Aveyard,english,children,childrenfiction,Victoria Aveyard english children childrenfiction,14
3,40250,otherauthor,german,children,childrenpicture,otherauthor german children childrenpicture,8
4,46107,Elizabeth Golding,german,lifestyle,lifestyledecoration,Elizabeth Golding german lifestyle lifestylede...,18

<p>Simpan hasil clustering ke dalam file csv.<p>

In [131]:
items.to_csv('items_clustered.csv')

In [132]:
items = pd.read_csv('items_clustered.csv')
items.drop('Unnamed: 0', 1, inplace=True)

C:\Users\MSI\AppData\Local\Temp/ipykernel_11524/935360976.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  items.drop('Unnamed: 0', 1, inplace=True)

In [133]:
items

,itemID,author,language,general_topic,sub_topic,combined_columns,cluster
0,21310,Janey Louise Jones,english,children,childrenfiction,Janey Louise Jones english children childrenfi...,14
1,73018,Wiebke Krabbe,german,arts,artstreatment,Wiebke Krabbe german arts artstreatment,14
2,19194,Victoria Aveyard,english,children,childrenfiction,Victoria Aveyard english children childrenfiction,14
3,40250,otherauthor,german,children,childrenpicture,otherauthor german children childrenpicture,8
4,46107,Elizabeth Golding,german,lifestyle,lifestyledecoration,Elizabeth Golding german lifestyle lifestylede...,18
...,...,...,...,...,...,...,...
77552,37678,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",english,children,childrenfiction,"Brothers Grimm, Marie-Catherine Baroness D'Aul...",14
77553,68688,A. Witt Timothy a. Witt,german,fiction,fictionfantasy,A. Witt Timothy a. Witt german fiction fiction...,15
77554,57291,A. M. Glass,english,children,childrenfiction,A. M. Glass english children childrenfiction,14
77555,78130,Ersila Bee,english,children,childrenfiction,Ersila Bee english children childrenfiction,14
77556,68789,Orlando Mardi Orlando,english,fiction,fictionscience,Orlando Mardi Orlando english fiction fictions...,17

<p>Fungsi berikut merupakan fungsi untuk mencari 5 buku paling mirip dalam satu cluster untuk dijadikan sebagai buku rekomendasi.<p>

In [134]:
def give_rec(ID, sig, tf):
    idx = indices[ID]
    sig_scores = list(enumerate(sig[idx]))
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)
    sig_scores = sig_scores[1:6]
    book_indices = [i[0] for i in sig_scores]
    return tf['itemID'].iloc[book_indices]

In [135]:
evaluation = pd.read_csv('evaluation.csv')

In [140]:
i = 0
j = 0
rec1 = []
rec2 = []
rec3 = []
rec4 = []
rec5 = []
vectorizer = TfidfVectorizer()

while i < len(evaluation):
    tf = items.loc[items['itemID'] == evaluation['itemID'][i]]
    # Jika itemID pada evaluation.csv tidak ditemukan pada items.csv, maka cari 5 buku rekomendasi berdasarkan hasil clustering dan similaritynya
    if tf.empty:
        rec1.append(items['itemID'].sample().tolist()[0])
        rec2.append(items['itemID'].sample().tolist()[0])
        rec3.append(items['itemID'].sample().tolist()[0])
        rec4.append(items['itemID'].sample().tolist()[0])
        rec5.append(items['itemID'].sample().tolist()[0])
    # Jika itemID pada evaluation.csv ditemukan pada items.csv, maka 5 buku rekomendasi merupakan buku random
    else:
        cluster_number = tf['cluster'].tolist()[0]
        df = None
        df = items.loc[items['cluster'] == cluster_number]
        df.reset_index(drop=True, inplace=True)
        features = vectorizer.fit_transform(df['combined_columns'])
        features = features.astype('float32')
        sig = None
        sig = sigmoid_kernel(features, features)
        indices = pd.Series(df.index, index=df['itemID']).drop_duplicates()
        rec_list = give_rec(evaluation['itemID'][i], sig, df).tolist()
        rec1.append(rec_list[0])
        rec2.append(rec_list[1])
        rec3.append(rec_list[2])
        rec4.append(rec_list[3])
        rec5.append(rec_list[4])
    print('iteration',i+1)
    i = i + 1

iteration 1
iteration 2
iteration 3
iteration 4
iteration 5
iteration 6
iteration 7
iteration 8
iteration 9
iteration 10
iteration 11
iteration 12
iteration 13
iteration 14
iteration 15
iteration 16
iteration 17
iteration 18
iteration 19
iteration 20
iteration 21
iteration 22
iteration 23
iteration 24
iteration 25
iteration 26
iteration 27
iteration 28
iteration 29
iteration 30
iteration 31
iteration 32
iteration 33
iteration 34
iteration 35
iteration 36
iteration 37
iteration 38
iteration 39
iteration 40
iteration 41
iteration 42
iteration 43
iteration 44
iteration 45
iteration 46
iteration 47
iteration 48
iteration 49
iteration 50
iteration 51
iteration 52
iteration 53
iteration 54
iteration 55
iteration 56
iteration 57
iteration 58
iteration 59
iteration 60
iteration 61
iteration 62
iteration 63
iteration 64
iteration 65
iteration 66
iteration 67
iteration 68
iteration 69
iteration 70
iteration 71
iteration 72
iteration 73
iteration 74
iteration 75
iteration 76
iteration 77
iteration 78
iteration 79
iteration 80
iteration 81
iteration 82
iteration 83
iteration 84
iteration 85
iteration 86
iteration 87
iteration 88
iteration 89
iteration 90
iteration 91
iteration 92
iteration 93
iteration 94
iteration 95
iteration 96
iteration 97
iteration 98
iteration 99
iteration 100
iteration 101
iteration 102
iteration 103
iteration 104
iteration 105
iteration 106
iteration 107
iteration 108
iteration 109
iteration 110
iteration 111
iteration 112
iteration 113
iteration 114
iteration 115
iteration 116
iteration 117
iteration 118
iteration 119
iteration 120
iteration 121
iteration 122
iteration 123
iteration 124
iteration 125
iteration 126
iteration 127
iteration 128
iteration 129
iteration 130
iteration 131
iteration 132
iteration 133
iteration 134
iteration 135
iteration 136
iteration 137
iteration 138
iteration 139
iteration 140
iteration 141
iteration 142
iteration 143
iteration 144
iteration 145
iteration 146
iteration 147
iteration 148
iteration 149
iteration 150
iteration 151
iteration 152
iteration 153
iteration 154
iteration 155
iteration 156
iteration 157
iteration 158
iteration 159
iteration 160
iteration 161
iteration 162
iteration 163
iteration 164
iteration 165
iteration 166
iteration 167
iteration 168
iteration 169
iteration 170
iteration 171
iteration 172
iteration 173
iteration 174
iteration 175
iteration 176
iteration 177
iteration 178
iteration 179
iteration 180
iteration 181
iteration 182
iteration 183
iteration 184
iteration 185
iteration 186
iteration 187
iteration 188
iteration 189
iteration 190
iteration 191
iteration 192
iteration 193
iteration 194
iteration 195
iteration 196
iteration 197
iteration 198
iteration 199
iteration 200
iteration 201
iteration 202
iteration 203
iteration 204
iteration 205
iteration 206
iteration 207
iteration 208
iteration 209
iteration 210
iteration 211
iteration 212
iteration 213
iteration 214
iteration 215
iteration 216
iteration 217
iteration 218
iteration 219
iteration 220
iteration 221
iteration 222
iteration 223
iteration 224
iteration 225
iteration 226
iteration 227
iteration 228
iteration 229
iteration 230
iteration 231
iteration 232
iteration 233
iteration 234
iteration 235
iteration 236
iteration 237
iteration 238
iteration 239
iteration 240
iteration 241
iteration 242
iteration 243
iteration 244
iteration 245
iteration 246
iteration 247
iteration 248
iteration 249
iteration 250
iteration 251
iteration 252
iteration 253
iteration 254
iteration 255
iteration 256
iteration 257
iteration 258
iteration 259
iteration 260
iteration 261
iteration 262
iteration 263
iteration 264
iteration 265
iteration 266
iteration 267
iteration 268
iteration 269
iteration 270
iteration 271
iteration 272
iteration 273
iteration 274
iteration 275
iteration 276
iteration 277
iteration 278
iteration 279
iteration 280
iteration 281
iteration 282
iteration 283
iteration 284
iteration 285
iteration 286
iteration 287
iteration 288
iteration 289
iteration 290
iteration 291
iteration 292
iteration 293
iteration 294
iteration 295
iteration 296
iteration 297
iteration 298
iteration 299
iteration 300
iteration 301
iteration 302
iteration 303
iteration 304
iteration 305
iteration 306
iteration 307
iteration 308
iteration 309
iteration 310
iteration 311
iteration 312
iteration 313
iteration 314
iteration 315
iteration 316
iteration 317
iteration 318
iteration 319
iteration 320
iteration 321
iteration 322
iteration 323
iteration 324
iteration 325
iteration 326
iteration 327
iteration 328
iteration 329
iteration 330
iteration 331
iteration 332
iteration 333
iteration 334
iteration 335
iteration 336
iteration 337
iteration 338
iteration 339
iteration 340
iteration 341
iteration 342
iteration 343
iteration 344
iteration 345
iteration 346
iteration 347
iteration 348
iteration 349
iteration 350
iteration 351
iteration 352
iteration 353
iteration 354
iteration 355
iteration 356
iteration 357
iteration 358
iteration 359
iteration 360
iteration 361
iteration 362
iteration 363
iteration 364
iteration 365
iteration 366
iteration 367
iteration 368
iteration 369
iteration 370
iteration 371
iteration 372
iteration 373
iteration 374
iteration 375
iteration 376
iteration 377
iteration 378
iteration 379
iteration 380
iteration 381
iteration 382
iteration 383
iteration 384
iteration 385
iteration 386
iteration 387
iteration 388
iteration 389
iteration 390
iteration 391
iteration 392
iteration 393
iteration 394
iteration 395
iteration 396
iteration 397
iteration 398
iteration 399
iteration 400
iteration 401
iteration 402
iteration 403
iteration 404
iteration 405
iteration 406
iteration 407
iteration 408
iteration 409
iteration 410
iteration 411
iteration 412
iteration 413
iteration 414
iteration 415
iteration 416
iteration 417
iteration 418
iteration 419
iteration 420
iteration 421
iteration 422
iteration 423
iteration 424
iteration 425
iteration 426
iteration 427
iteration 428
iteration 429
iteration 430
iteration 431
iteration 432
iteration 433
iteration 434
iteration 435
iteration 436
iteration 437
iteration 438
iteration 439
iteration 440
iteration 441
iteration 442
iteration 443
iteration 444
iteration 445
iteration 446
iteration 447
iteration 448
iteration 449
iteration 450
iteration 451
iteration 452
iteration 453
iteration 454
iteration 455
iteration 456
iteration 457
iteration 458
iteration 459
iteration 460
iteration 461
iteration 462
iteration 463
iteration 464
iteration 465
iteration 466
iteration 467
iteration 468
iteration 469
iteration 470
iteration 471
iteration 472
iteration 473
iteration 474
iteration 475
iteration 476
iteration 477
iteration 478
iteration 479
iteration 480
iteration 481
iteration 482
iteration 483
iteration 484
iteration 485
iteration 486
iteration 487
iteration 488
iteration 489
iteration 490
iteration 491
iteration 492
iteration 493
iteration 494
iteration 495
iteration 496
iteration 497
iteration 498
iteration 499
iteration 500
iteration 501
iteration 502
iteration 503
iteration 504
iteration 505
iteration 506
iteration 507
iteration 508
iteration 509
iteration 510
iteration 511
iteration 512
iteration 513
iteration 514
iteration 515
iteration 516
iteration 517
iteration 518
iteration 519
iteration 520
iteration 521
iteration 522
iteration 523
iteration 524
iteration 525
iteration 526
iteration 527
iteration 528
iteration 529
iteration 530
iteration 531
iteration 532
iteration 533
iteration 534
iteration 535
iteration 536
iteration 537
iteration 538
iteration 539
iteration 540
iteration 541
iteration 542
iteration 543
iteration 544
iteration 545
iteration 546
iteration 547
iteration 548
iteration 549
iteration 550
iteration 551
iteration 552
iteration 553
iteration 554
iteration 555
iteration 556
iteration 557
iteration 558
iteration 559
iteration 560
iteration 561
iteration 562
iteration 563
iteration 564
iteration 565
iteration 566
iteration 567
iteration 568
iteration 569
iteration 570
iteration 571
iteration 572
iteration 573
iteration 574
iteration 575
iteration 576
iteration 577
iteration 578
iteration 579
iteration 580
iteration 581
iteration 582
iteration 583
iteration 584
iteration 585
iteration 586
iteration 587
iteration 588
iteration 589
iteration 590
iteration 591
iteration 592
iteration 593
iteration 594
iteration 595
iteration 596
iteration 597
iteration 598
iteration 599
iteration 600
iteration 601
iteration 602
iteration 603
iteration 604
iteration 605
iteration 606
iteration 607
iteration 608
iteration 609
iteration 610
iteration 611
iteration 612
iteration 613
iteration 614
iteration 615
iteration 616
iteration 617
iteration 618
iteration 619
iteration 620
iteration 621
iteration 622
iteration 623
iteration 624
iteration 625
iteration 626
iteration 627
iteration 628
iteration 629
iteration 630
iteration 631
iteration 632
iteration 633
iteration 634
iteration 635
iteration 636
iteration 637
iteration 638
iteration 639
iteration 640
iteration 641
iteration 642
iteration 643
iteration 644
iteration 645
iteration 646
iteration 647
iteration 648
iteration 649
iteration 650
iteration 651
iteration 652
iteration 653
iteration 654
iteration 655
iteration 656
iteration 657
iteration 658
iteration 659
iteration 660
iteration 661
iteration 662
iteration 663
iteration 664
iteration 665
iteration 666
iteration 667
iteration 668
iteration 669
iteration 670
iteration 671
iteration 672
iteration 673
iteration 674
iteration 675
iteration 676
iteration 677
iteration 678
iteration 679
iteration 680
iteration 681
iteration 682
iteration 683
iteration 684
iteration 685
iteration 686
iteration 687
iteration 688
iteration 689
iteration 690
iteration 691
iteration 692
iteration 693
iteration 694
iteration 695
iteration 696
iteration 697
iteration 698
iteration 699
iteration 700
iteration 701
iteration 702
iteration 703
iteration 704
iteration 705
iteration 706
iteration 707
iteration 708
iteration 709
iteration 710
iteration 711
iteration 712
iteration 713
iteration 714
iteration 715
iteration 716
iteration 717
iteration 718
iteration 719
iteration 720
iteration 721
iteration 722
iteration 723
iteration 724
iteration 725
iteration 726
iteration 727
iteration 728
iteration 729
iteration 730
iteration 731
iteration 732
iteration 733
iteration 734
iteration 735
iteration 736
iteration 737
iteration 738
iteration 739
iteration 740
iteration 741
iteration 742
iteration 743
iteration 744
iteration 745
iteration 746
iteration 747
iteration 748
iteration 749
iteration 750
iteration 751
iteration 752
iteration 753
iteration 754
iteration 755
iteration 756
iteration 757
iteration 758
iteration 759
iteration 760
iteration 761
iteration 762
iteration 763
iteration 764
iteration 765
iteration 766
iteration 767
iteration 768
iteration 769
iteration 770
iteration 771
iteration 772
iteration 773
iteration 774
iteration 775
iteration 776
iteration 777
iteration 778
iteration 779
iteration 780
iteration 781
iteration 782
iteration 783
iteration 784
iteration 785
iteration 786
iteration 787
iteration 788
iteration 789
iteration 790
iteration 791
iteration 792
iteration 793
iteration 794
iteration 795
iteration 796
iteration 797
iteration 798
iteration 799
iteration 800
iteration 801
iteration 802
iteration 803
iteration 804
iteration 805
iteration 806
iteration 807
iteration 808
iteration 809
iteration 810
iteration 811
iteration 812
iteration 813
iteration 814
iteration 815
iteration 816
iteration 817
iteration 818
iteration 819
iteration 820
iteration 821
iteration 822
iteration 823
iteration 824
iteration 825
iteration 826
iteration 827
iteration 828
iteration 829
iteration 830
iteration 831
iteration 832
iteration 833
iteration 834
iteration 835
iteration 836
iteration 837
iteration 838
iteration 839
iteration 840
iteration 841
iteration 842
iteration 843
iteration 844
iteration 845
iteration 846
iteration 847
iteration 848
iteration 849
iteration 850
iteration 851
iteration 852
iteration 853
iteration 854
iteration 855
iteration 856
iteration 857
iteration 858
iteration 859
iteration 860
iteration 861
iteration 862
iteration 863
iteration 864
iteration 865
iteration 866
iteration 867
iteration 868
iteration 869
iteration 870
iteration 871
iteration 872
iteration 873
iteration 874
iteration 875
iteration 876
iteration 877
iteration 878
iteration 879
iteration 880
iteration 881
iteration 882
iteration 883
iteration 884
iteration 885
iteration 886
iteration 887
iteration 888
iteration 889
iteration 890
iteration 891
iteration 892
iteration 893
iteration 894
iteration 895
iteration 896
iteration 897
iteration 898
iteration 899
iteration 900
iteration 901
iteration 902
iteration 903
iteration 904
iteration 905
iteration 906
iteration 907
iteration 908
iteration 909
iteration 910
iteration 911
iteration 912
iteration 913
iteration 914
iteration 915
iteration 916
iteration 917
iteration 918
iteration 919
iteration 920
iteration 921
iteration 922
iteration 923
iteration 924
iteration 925
iteration 926
iteration 927
iteration 928
iteration 929
iteration 930
iteration 931
iteration 932
iteration 933
iteration 934
iteration 935
iteration 936
iteration 937
iteration 938
iteration 939
iteration 940
iteration 941
iteration 942
iteration 943
iteration 944
iteration 945
iteration 946
iteration 947
iteration 948
iteration 949
iteration 950
iteration 951
iteration 952
iteration 953
iteration 954
iteration 955
iteration 956
iteration 957
iteration 958
iteration 959
iteration 960
iteration 961
iteration 962
iteration 963
iteration 964
iteration 965
iteration 966
iteration 967
iteration 968
iteration 969
iteration 970
iteration 971
iteration 972
iteration 973
iteration 974
iteration 975
iteration 976
iteration 977
iteration 978
iteration 979
iteration 980
iteration 981
iteration 982
iteration 983
iteration 984
iteration 985
iteration 986
iteration 987
iteration 988
iteration 989
iteration 990
iteration 991
iteration 992
iteration 993
iteration 994
iteration 995
iteration 996
iteration 997
iteration 998
iteration 999
iteration 1000

In [146]:
evaluation['book_recommendation_1'] = rec1
evaluation['book_recommendation_2'] = rec2
evaluation['book_recommendation_3'] = rec3
evaluation['book_recommendation_4'] = rec4
evaluation['book_recommendation_5'] = rec5

<p>save evaluation terbaru yang sudah ada book recommendationnya ke dalam file csv<p>

In [148]:
evaluation.head()

,itemID,book_recommendation_1,book_recommendation_2,book_recommendation_3,book_recommendation_4,book_recommendation_5
0,12,32729,2583,10048,41535,69791
1,45274,45274,6210,1746,15116,18662
2,10104,10143,22900,41320,47055,57759
3,41371,21540,49279,13702,38622,28401
4,14015,47952,19563,14015,40294,22184

In [149]:
evaluation.to_csv('book_recommendation.csv')