In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
items = pd.read_csv('items.csv', sep='|')
evaluations = pd.read_csv('evaluation.csv', sep='|')
transactions = pd.read_csv('transactions.csv', sep='|')

In [3]:
duplicate = items[items.duplicated(['itemID'])]
duplicate

Empty DataFrame
Columns: [itemID, title, author, publisher, main topic, subtopics]
Index: []

In [4]:
items

,itemID,title,author,publisher,main topic,subtopics
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH]
1,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]"
2,19194,Red Queen 1,Victoria Aveyard,Orion Publishing Group,YFH,"[5AP,FBA]"
3,40250,Meine Kindergarten-Freunde (Pirat),NaN,Ars Edition GmbH,YB,"[5AC,5AD,YBG,YBL,YF]"
4,46107,Mein großes Schablonen-Buch - Wilde Tiere,Elizabeth Golding,Edition Michael Fischer,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]"
...,...,...,...,...,...,...
78025,37678,Timeless Fairy Tales,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",MEDIAMORPHOSIS,YFA,[YFJ]
78026,68688,Demon Games,A. Witt Timothy a. Witt,iUniverse,FMB,[]
78027,57291,Lori and the Lion's Den,A. M. Glass,Xlibris,YFU,[]
78028,78130,The Everywhere Armchair,Ersila Bee,ELOQUENT BOOKS,YFC,"[YFG,YFH]"
78029,68789,The Light Voyager,Orlando Mardi Orlando,Trafford Publishing,FL,[]

In [5]:
items.describe()

             itemID
count  78030.000000
mean   39545.062553
std    22825.650252
min        0.000000
25%    19775.250000
50%    39561.500000
75%    59306.750000
max    79067.000000

<p> Pada tahap ini kami melakukan drop record buku yang memiliki judul sangat pendek, yaitu dengan total karakter kurang dari 4 karakter.<p>
<p>Hal ini kami lakukan karena pada tahap setelah ini kami akan melakukan language detector pada setiap judul buku. Namun judul buku yang terlalu pendek tidak akan bisa dideteksi bahasanya sehingga kami drop dari dataset.<p>

In [6]:
count = 0
item_counter = 0
i = 0
book_to_drop = []

while i < len(items):
    if (len(items['title'][i]) < 4):
        index = items[(items['itemID']==items['itemID'][i])].index
        book_to_drop.append([index, items['itemID'][i], items['title'][i]])
        item_counter = item_counter + 1
    count = count + 1
    i = i + 1

print('Terdapat ',len(book_to_drop),' judul buku yang memiliki judul terlalu pendek')

Terdapat  166  judul buku yang memiliki judul terlalu pendek

In [7]:
i = 0
while i < len(book_to_drop):
    items.drop(book_to_drop[i][0], )
items

,itemID,title,author,publisher,main topic,subtopics
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH]
1,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]"
2,19194,Red Queen 1,Victoria Aveyard,Orion Publishing Group,YFH,"[5AP,FBA]"
3,40250,Meine Kindergarten-Freunde (Pirat),NaN,Ars Edition GmbH,YB,"[5AC,5AD,YBG,YBL,YF]"
4,46107,Mein großes Schablonen-Buch - Wilde Tiere,Elizabeth Golding,Edition Michael Fischer,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]"
...,...,...,...,...,...,...
78025,37678,Timeless Fairy Tales,"Brothers Grimm, Marie-Catherine Baroness D'Aulnoy",MEDIAMORPHOSIS,YFA,[YFJ]
78026,68688,Demon Games,A. Witt Timothy a. Witt,iUniverse,FMB,[]
78027,57291,Lori and the Lion's Den,A. M. Glass,Xlibris,YFU,[]
78028,78130,The Everywhere Armchair,Ersila Bee,ELOQUENT BOOKS,YFC,"[YFG,YFH]"
78029,68789,The Light Voyager,Orlando Mardi Orlando,Trafford Publishing,FL,[]